extends base.pug

block content
  .pb-0.pb-sm-2
    h1.title.title--h1.title__separate درباره من
    | !{about.content}
  .pb-1
    .row
      .col-12.col-lg-6
        h2.title.title--h3
          img.title-icon(src="/static/icons/icon-education.svg", alt)
          | تحصیلات
        .timeline
          each education in about.educations
            article.timeline__item
              h5.title.title--h5.timeline__title= education.title
              span.timeline__period #{education.start} - #{education.end}
              p.timeline__description= education.content
      .col-12.col-lg-6
        h2.title.title--h3
          img.title-icon(src="/static/icons/icon-experience.svg", alt)
          | تجربیات
        .timeline
          each experience in about.experiences
            article.timeline__item
              if experience.link
                a(href=`${experience.link}`, target="_blank")
                  h5.title.title--h5.timeline__title= experience.title
              else
                h5.title.title--h5.timeline__title= experience.title
              span.timeline__period #{experience.start} - #{experience.end}
              p.timeline__description= experience.content
  .box-inner.box-inner--rounded
    - let idx = 0;
    while idx < about.skillTopics.length
      br
      .row
        .col-12.col-lg-6
          h2.title.title--h3= about.skillTopics[idx].title
          .box.box__second
            p= about.skillTopics[idx].skills.map(s => s.title).join(', ')
        if idx + 1 < about.skillTopics.length
          .col-12.col-lg-6.mt-4.mt-lg-0
            h2.title.title--h3= about.skillTopics[idx + 1].title
            .box.box__second
              p= about.skillTopics[idx + 1].skills.map(s => s.title).join(', ')
      - idx += 2;
